* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
.container {
    margin-top: 1rem;
    height: 100vh;
    width: min(90%, 75rem);
    margin-inline: auto;
}
input {
    padding: .3rem .5rem;
    font-size: 1.5rem;
    margin-right: .5rem;
    min-width: 100%;
    outline: none;
    border: 1px solid darkblue;
    box-shadow: rgba(0, 0, 0, 0.3);
}

button {
font-size: 1.5rem;
padding: .5rem .5rem;
margin-top: .5rem;
background-color: darkblue;
border: none;

color: #fff;
cursor: pointer;
font-weight: bold;
text-transform: uppercase;
}
.delete-btn {
    font-size: 1.5rem;
padding: .5rem .5rem;
margin-top: .5rem;
border: 1px solid darkblue;
background-color: #fff;
color: darkblue;
}
ul {
    margin: .7rem 0 0 0;
}
ul li {
    padding: .3rem 0;
    list-style-type: none;
}
ul li a {
    color: darkblue;
    text-decoration: none;
}